@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Source+Sans+Pro:wght@600&display=swap');

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Cairo', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.logodiv {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1.5px solid #e2e8f0;
  position: sticky;
  top: 0;
}

.logo__img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.site__name {
  font-size: 1.6rem;
}

.site__name:nth-child(3) {
  color: #e53e3e;
}

.nav__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 0 10px;
  background-color: inherit;
  color: #108885;
  font-size: 1.2rem;
  font-family: 'Cairo', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: #e53e3e;
}

.button:focus {
  color: #e53e3e;
}