.Country {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countrywise__data__display {
    width: 100%;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
}

.countrywiseDataText {
    width: 100%;
    margin-right: 5px;
    text-align: end;
}

.countrywise__data__number {
    width: 60%;
    margin-left: 5px;
    text-align: start;
}

#countywise__cases {
    background-color: #e2e8f0;
    color: #718096;
    border-left: 5px solid #718096;
}

#countywise__recovered {
    margin: 2px 0;
    background-color: #c6f6d5;
    color: #38a169;
    border-left: 5px solid #38a169;
}

#countywise__deaths {
    background-color: #fed7d7;
    color: #e53e3e;
    border-left: 5px solid #e53e3e;
}

@media (max-width: 1050px) {
    .countrywise__data__display {
        font-size: 0.9rem;
    }
}

@media (max-width: 950px) {
    .Country {
        width: 237.5px;
        align-items: flex-end;
        margin: 20px 5px;
        margin-bottom: 0;
    }

    .countrywise__data__display {
        flex-direction: column;
    }

    .countrywiseDataText {
        margin-right: 0;
        text-align: center;
    }

    .countrywise__data__number {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 5px;
    }


    #countywise__cases {
        border-left: none;
        border-top: 5px solid #718096;
    }
    
    #countywise__recovered {
        margin: 10px 0;
        border-left: none;
        border-top: 5px solid #38a169;
    }
    
    #countywise__deaths {
        border-left: none;
        border-top: 5px solid #e53e3e;
    }
}

@media (max-width: 400px) {
    .Country {
        width: 100%;
        margin: 0;
    }
}