.Global {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-evenly;
}

.global__data__display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.global__data__number {
    width: 5.5em;
    padding: 30px 20px;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Cairo', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.07rem;
}

.global__data__text {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Cairo', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.03rem;
}

#cases__number {
    background-color: #edf2f7;
    color: #718096;
}

#cases__text {
    background-color: #e2e8f0;
    color: #718096;
}

#recovered__number {
    background-color: #f0fff4;
    color: #38a169;
}

#recovered__text {
    background-color: #c6f6d5;
    color: #38a169;
}

#deaths__number {
    background-color: #fff5f5;
    color: #e53e3e;
}

#deaths__text {
    background-color: #fed7d7;
    color: #e53e3e;
}