.Global {
    width: inherit;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.global__data__display {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.global__data__number {
    width: -webkit-fill-available;
    padding: 30px 20px;
    text-align: center;
    font-size: 1.75rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.global__data__text {
    width: -webkit-fill-available;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

#cases__number {
    background-color: #edf2f7;
    color: #718096;
}

#cases__text {
    background-color: #e2e8f0;
    color: #718096;
}

#recovered__number {
    background-color: #f0fff4;
    color: #38a169;
}

#recovered__text {
    background-color: #c6f6d5;
    color: #38a169;
}

#deaths__number {
    background-color: #fff5f5;
    color: #e53e3e;
}

#deaths__text {
    background-color: #fed7d7;
    color: #e53e3e;
}

@media (max-width: 1050px) {
    .global__data__number {
        font-size: 1.4rem;
    }
    
    .global__data__text {
        font-size: 0.8rem;
    }
}

@media (max-width: 950px) {
    .global__data__number {
        font-size: 1.5rem;
    }
    
    .global__data__text {
        font-size: 0.9rem;
    }
}

@media (max-width: 650px) {
    .global__data__number {
        font-size: 1.25rem;
    }
    
    .global__data__text {
        font-size: 0.8rem;
    }
}

@media (max-width: 585px) {
    .Global {
        margin: 0 4px;
        flex-direction: column;
        justify-content: center;
    }

    .global__data__display {
        width: 100%;
    }

    .global__data__number {
        padding: 15px 10px;
    }

    #global__data__display__mid {
        margin: 10px 0;
    }
}

@media (max-width: 400px) {
    .global__data__number {
        font-size: 1.5rem;
    }
    
    .global__data__text {
        font-size: 1rem;
    }
}